$primary-background-black: #212c2e;
$secondary-background-black: #151d1e;
$aside-text-color: #777777;
$aside-active-text-color: #ffffff;
$content-background-color: #e7e7e7;
$content-text-color: #222222;
$content-white: #ffffff;
